<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="trick Test Suite" parallel="classes" thread-count="2">
    <test  name="Test Suite for trick" thread-count="2">
        <parameter name="env" value="staging"/>
        <parameter name="suite" value="products"/>

        <classes>
            <class name="runner.Runner"/>
        </classes>
    </test>
</suite>